#login-container .logo {
	margin: 40px 0 20px -55px;
	text-align: center;
}

#login-container form {
    padding: 16px;
    border: 1px solid #E5E5E5;
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 12px;
    -moz-box-shadow: 0 4px 18px #C8C8C8;
    -webkit-box-shadow: 0 4px 18px #C8C8C8;
    box-shadow: 0 4px 18px #C8C8C8;
    margin-left: 8px;
}
