<!DOCTYPE html>

<html>
	<head>
		<title>M-Cashback: Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/libs/bootstrap3/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/mcashback.css">
		<link rel="stylesheet" type="text/css" href="/css/mcashback-bootstrap.css">
		
		<script type="text/javascript" src="/libs/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="/libs/bootstrap3/js/bootstrap.js"></script>		
	</head>
	
	<body>
		
		<div id="login-container">
	        <div class="container">
	            <div class="logo"><img src="/img/mcashback-logo.png" alt="logo"></div>
	            <form>
	                <input type="text" id="comp-code" placeholder="{{nls.company_code}}">
	                <input type="password" id="compa-pass" placeholder="{{nls.password}}">
	
	                <button id="login-btn" type="button" disabled="disabled" class="btn">{{nls.login}}</button>
	                
	                <span id="login-alert" class="alert"></span>
	            </form>
	        </div>
        </div>
        
    </body>
</html>